Customer APIs/hot.backend.all/hot.core/hot.core/Service References/ZesaAPI/ZESA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PurchaseZESAToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MeterNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseZESATokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PurchaseZESATokenResult" type="tns:PurchaseTokenResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PurchaseTokenResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="InitialBalance" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="FinalBalance" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="PurchaseToken" type="tns:PurchaseToken" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerInfo" type="tns:CustomerInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReplyCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplyMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PurchaseToken">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="tns:DateTimeOffset" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MeterNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RawResponse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Narrative" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tokens" type="tns:ArrayOfTokenItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateTimeOffset" />
      <s:complexType name="ArrayOfTokenItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TokenItem" nillable="true" type="tns:TokenItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TokenItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ZesaReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Units" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="NetAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Arrears" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Levy" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MeterNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PurchaseZESATokenByCurrency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MeterNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseZESATokenByCurrencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PurchaseZESATokenByCurrencyResult" type="tns:PurchaseTokenResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MeterNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerInfoResult" type="tns:CustomerInfoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerInfoResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CustomerInfo" type="tns:CustomerInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBalanceResult" type="tns:VendorBalanceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VendorBalanceResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="VendorBalance" type="tns:VendorBalance" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="VendorBalance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PurchaseZESATokenSoapIn">
    <wsdl:part name="parameters" element="tns:PurchaseZESAToken" />
  </wsdl:message>
  <wsdl:message name="PurchaseZESATokenSoapOut">
    <wsdl:part name="parameters" element="tns:PurchaseZESATokenResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseZESATokenByCurrencySoapIn">
    <wsdl:part name="parameters" element="tns:PurchaseZESATokenByCurrency" />
  </wsdl:message>
  <wsdl:message name="PurchaseZESATokenByCurrencySoapOut">
    <wsdl:part name="parameters" element="tns:PurchaseZESATokenByCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="GetCustomerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="ZESASoap">
    <wsdl:operation name="PurchaseZESAToken">
      <wsdl:input message="tns:PurchaseZESATokenSoapIn" />
      <wsdl:output message="tns:PurchaseZESATokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseZESATokenByCurrency">
      <wsdl:input message="tns:PurchaseZESATokenByCurrencySoapIn" />
      <wsdl:output message="tns:PurchaseZESATokenByCurrencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <wsdl:input message="tns:GetCustomerInfoSoapIn" />
      <wsdl:output message="tns:GetCustomerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceSoapIn" />
      <wsdl:output message="tns:GetBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZESASoap" type="tns:ZESASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PurchaseZESAToken">
      <soap:operation soapAction="http://tempuri.org/PurchaseZESAToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseZESATokenByCurrency">
      <soap:operation soapAction="http://tempuri.org/PurchaseZESATokenByCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <soap:operation soapAction="http://tempuri.org/GetCustomerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZESASoap12" type="tns:ZESASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PurchaseZESAToken">
      <soap12:operation soapAction="http://tempuri.org/PurchaseZESAToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseZESATokenByCurrency">
      <soap12:operation soapAction="http://tempuri.org/PurchaseZESATokenByCurrency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap12:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZESA">
    <wsdl:port name="ZESASoap" binding="tns:ZESASoap">
      <soap:address location="http://127.0.0.1:8017/ZESA.asmx" />
    </wsdl:port>
    <wsdl:port name="ZESASoap12" binding="tns:ZESASoap12">
      <soap12:address location="http://127.0.0.1:8017/ZESA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>