Customer APIs/hot.backend.all/hot.core/hot.core/Service References/NyaradzoAPI/Nyaradzo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PolicyNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessPaymentResult" type="tns:NyaradzoResultModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NyaradzoResultModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ValidResponse" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item" type="tns:AccountSummary" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:TransactionResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountSummary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="tns:DateTimeOffset" />
          <s:element minOccurs="0" maxOccurs="1" name="PolicyNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MonthlyPremium" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AmountToBePaid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumberOfMonths" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PolicyHolder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TxnRef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateTimeOffset" />
      <s:complexType name="TransactionResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Refund">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefundResult" type="tns:NyaradzoResultModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PolicyNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountQueryResult" type="tns:NyaradzoResultModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessPayment" />
  </wsdl:message>
  <wsdl:message name="ProcessPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="RefundSoapIn">
    <wsdl:part name="parameters" element="tns:Refund" />
  </wsdl:message>
  <wsdl:message name="RefundSoapOut">
    <wsdl:part name="parameters" element="tns:RefundResponse" />
  </wsdl:message>
  <wsdl:message name="AccountQuerySoapIn">
    <wsdl:part name="parameters" element="tns:AccountQuery" />
  </wsdl:message>
  <wsdl:message name="AccountQuerySoapOut">
    <wsdl:part name="parameters" element="tns:AccountQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="NyaradzoSoap">
    <wsdl:operation name="ProcessPayment">
      <wsdl:input message="tns:ProcessPaymentSoapIn" />
      <wsdl:output message="tns:ProcessPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input message="tns:RefundSoapIn" />
      <wsdl:output message="tns:RefundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountQuery">
      <wsdl:input message="tns:AccountQuerySoapIn" />
      <wsdl:output message="tns:AccountQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NyaradzoSoap" type="tns:NyaradzoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessPayment">
      <soap:operation soapAction="http://tempuri.org/ProcessPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap:operation soapAction="http://tempuri.org/Refund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountQuery">
      <soap:operation soapAction="http://tempuri.org/AccountQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NyaradzoSoap12" type="tns:NyaradzoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessPayment">
      <soap12:operation soapAction="http://tempuri.org/ProcessPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap12:operation soapAction="http://tempuri.org/Refund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountQuery">
      <soap12:operation soapAction="http://tempuri.org/AccountQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Nyaradzo">
    <wsdl:port name="NyaradzoSoap" binding="tns:NyaradzoSoap">
      <soap:address location="http://127.0.0.1:8017/Nyaradzo.asmx" />
    </wsdl:port>
    <wsdl:port name="NyaradzoSoap12" binding="tns:NyaradzoSoap12">
      <soap12:address location="http://127.0.0.1:8017/Nyaradzo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>